<div class="container my-5">
  {{!-- 類別篩選器 --}}
  <div class="row justify-content-center mb-5">
    <div class="dropdown col-4 text-center justify-content-center">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        類別篩選
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/filter/living">生活支出</a>
        <a class="dropdown-item" href="/filter/traffic">交通支出</a>
        <a class="dropdown-item" href="/filter/entertainment">娛樂支出</a>
        <a class="dropdown-item" href="/filter/food">食物支出</a>
        <a class="dropdown-item" href="/filter/others">其他支出</a>
      </div>
    </div>
  </div>
  {{!-- 總金額 --}}
  <div class="row justify-content-center mb-5">
    <div class="col-6 text-center">
      <p class="d-inline">總支出：</p><h1 class="d-inline">{{total}}</h1>
    </div>
  </div>
  {{!-- 項目列表 --}}
  <div class="row justify-content-center">
    <ul class="list-group list-group-flush col-8">
      {{#each records}}
      <li class="list-group-item d-flex justify-content-between">
        <div class="d-flex justify-content-between" style="width: 60%;">
          <div class="d-flex">
            <i class="{{this.icon}} mr-5" style="font-size: 30px; color: #a9cccc; line-height: 80px; width: 15%"></i>
            <div class="d-flex flex-column justify-content-center text-nowrap">
              <p class="m-0" style="font-size: 25px">{{this.name}}</p>
              <p class="m-0" style="font-size: 15px">{{this.date}}</p>
            </div>
          </div>
          <span style="line-height: 80px; font-size: 20px">{{this.amount}}</span>
        </div>
        <div class="d-flex align-items-center">
          <a class="btn btn-outline-info" href="/records/{{this._id}}/edit">修改</a>
          <form action="/records/{{this._id}}?_method=DELETE" method="POST">
            <button class="btn btn-outline-danger ml-2">刪除</button>
          </form>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
